/*Estilos generales */
@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&family=Raleway:wght@300&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Raleway', sans-serif;
}
.beauty_container{ 
  max-width: 85%;
  margin: 0 auto;
}

/*Colors UI*/
:root{
  --color-light-primary:#FDF6F0;
  --color-light-secundary:#ECE4DD;
  --c-dark-footer: #F1F0ED;
  --c-font: #021F47;
}
/*.section_spacers{
  padding: 4rem 0;
}*/

/*media queries*/
@media (min-width: 300px) and (max-width: 880px) {
  .beauty_container {
    max-width: 90%;
  }
}  